@page "/LoginDemo"
@inherits MVVMSidekickComponentBase<LoginDemo, LoginDemo_ViewModel>;
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.DependencyInjection;
@using MVVMSidekick.ViewModels;
@using MVVMSidekickBlazorDemo.Pages.ViewModels;
@code
{ 
     



}

<div style="z-index:1000;background:rgba(128, 128, 128, 0.51);width:100%;height:100%;position:absolute;left:0px;right:0px;display:@(M.IsUIBusy?"block":"none");"><h1>Busi Mask</h1></div>

<h1>Login Simulation</h1>
<p>The correct User Name should be: @M.RightUserName and the correct Password should be:@M.RightPassword</p>
@switch (M.CurrentLoginState)
{
    case LoginDemo_ViewModel.LoginState.Login:
    case LoginDemo_ViewModel.LoginState.LoginError:
    case LoginDemo_ViewModel.LoginState.LoginSuccess:
        <h2>Login</h2>
        <EditForm Model="M.LoginEntity" OnSubmit="M.CommandLoginIn.Execute">
            <p><InputText @bind-Value="@M.LoginEntity.UserName"></InputText></p>
            <p><InputText @bind-Value="@M.LoginEntity.Password" type="Password"></InputText></p>

            <p>
                <button type="submit">Login</button>
                <button @onclick="M.CommandLoginIn.Execute">Login2</button>
            </p><DataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>

        break;
    case LoginDemo_ViewModel.LoginState.PasswordRecovery:
    case LoginDemo_ViewModel.LoginState.PasswordRecoveryError:
    case LoginDemo_ViewModel.LoginState.PasswordRecoverySuccess:
        <h2>Recovery</h2>

        <EditForm Model="M.RecoveryEntity" OnValidSubmit="M.CommandStartRecover.Execute">
            <p><InputText @bind-Value="@M.RecoveryEntity.UserPhone"></InputText></p>
            <p>
                <InputText @bind-Value="@M.RecoveryEntity.SMSCode" type="Password"></InputText>
                @M.CommandRecoverySMS.CanExecuteValue

                <button disabled="@(!(M.CountDownOfSMSResend==0))" @onclick="M.CommandRecoverySMS.Execute">@(M.CountDownOfSMSResend==0?"Send SMS":$"Resend in{M.CountDownOfSMSResend } ")</button>

            </p>

            <p>
                <button type="submit">Login</button>

            </p><DataAnnotationsValidator />
            <ValidationSummary />
        </EditForm>

        break;
    default:

        break;
}

<h3 style="color:red">@M.Message</h3>
@if (M.CurrentLoginState == LoginDemo_ViewModel.LoginState.LoginError)
{
    <button @onclick="M.CommandStartRecover.Execute">Reset My Password</button>
}
